/*Partial base: reseteos, declaración de variables, mixing, clases de utilidad. Declaraciones generales*/
$color-primario: #E6BAAD;
$color-oscuro: #DA9986;
$color-secundario:#0A66C2;
$color-complementario:#16437E;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    text-decoration: none;
}

/*body*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 186, 173);
}

h1 {
    font-weight: 900;
    font-size: 3.5em;
    color: $color-secundario;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    color: $color-secundario;    
}

h3 {
    font-weight: 700;
    font-size: 1em;
    color: $color-secundario;  
}

h4 {
    font-weight: 200;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: $color-secundario;  
}

p {
    color: $color-complementario;
}

@mixin grilla ($columns, $rows) {
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@media (max-width: 768px) {
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}
}