.personajes__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "title_personajes title_personajes title_personajes title_personajes title_personajes title_personajes"
        "personaje__img1 personaje__img1 personaje__img2 personaje__img2 personaje__img3 personaje__img3"
        "personaje__img1 personaje__img1 personaje__img2 personaje__img2 personaje__img3 personaje__img3"
        "personaje__img4 personaje__img4 personaje__img5 personaje__img5 personaje__img6 personaje__img6"
        "personaje__img4 personaje__img4 personaje__img5 personaje__img5 personaje__img6 personaje__img6"
        "personaje__img7 personaje__img7 personaje__img8 personaje__img8 personaje__img9 personaje__img9"
        "personaje__img7 personaje__img7 personaje__img8 personaje__img8 personaje__img9 personaje__img9";
    width: 90vw;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.title_personajes {
    grid-area: title_personajes;
    width: 88vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personaje__img1 {
    grid-area: personaje__img1;
}

.personaje__img2 {
    grid-area: personaje__img2;
}

.personaje__img3 {
    grid-area: personaje__img3;
}

.personaje__img4 {
    grid-area: personaje__img4;
}

.personaje__img5 {
    grid-area: personaje__img5;
}

.personaje__img6 {
    grid-area: personaje__img6;
}

.personaje__img7 {
    grid-area: personaje__img7;
}

.personaje__img8 {
    grid-area: personaje__img8;
}

.personaje__img9 {
    grid-area: personaje__img9;
}


.img__personaje {
    width: 100%;
    border-radius: 24px;
    transition: all 0.8s ease-in-out;
    filter: saturate(90%);

    &:hover {
        transform: scale(1.1);
        filter: saturate(120%);
    }
}

/*Responsive*/

@media only screen and (max-width:960px) and (min-width:100px) {
    .personajes__container {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 15px 15px;
        grid-template-areas:
            "title_personajes title_personajes title_personajes title_personajes title_personajes title_personajes"
            "personaje__img1 personaje__img1 personaje__img1 personaje__img1 personaje__img1 personaje__img1"
            "personaje__img2 personaje__img2 personaje__img2 personaje__img2 personaje__img2 personaje__img2"
            "personaje__img3 personaje__img3 personaje__img3 personaje__img3 personaje__img3 personaje__img3"
            "personaje__img4 personaje__img4 personaje__img4 personaje__img4 personaje__img4 personaje__img4"
            "personaje__img5 personaje__img5 personaje__img5 personaje__img5 personaje__img5 personaje__img5"
            "personaje__img6 personaje__img6 personaje__img6 personaje__img6 personaje__img6 personaje__img6"
            "personaje__img7 personaje__img7 personaje__img7 personaje__img7 personaje__img7 personaje__img7"
            "personaje__img8 personaje__img8 personaje__img8 personaje__img8 personaje__img8 personaje__img8"
            "personaje__img9 personaje__img9 personaje__img9 personaje__img9 personaje__img9 personaje__img9";
        width: 90vw;
    }

    .title_personajes { 
        grid-area: 1 / 1 / 2 / 7; 
    }

.personaje__img1 { 
    grid-area: personaje__img1; 
}
.personaje__img2 { grid-area: personaje__img2; }
.personaje__img3 { grid-area: personaje__img3; }
.personaje__img4 { grid-area: personaje__img4; }
.personaje__img5 { grid-area: personaje__img5; }
.personaje__img6 { grid-area: personaje__img6; }
.personaje__img7 { grid-area: personaje__img7; }
.personaje__img8 { grid-area: personaje__img8; }
.personaje__img9 { grid-area: personaje__img9; }
}