.secondary__container {
    display: grid;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "secondary__description secondary__description" 
        "secondary__img secondary__txt";
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    padding: 5%;
    @include grilla (repeat(2, 1fr), repeat(2, auto))
}

.secondary__description {
    grid-area: secondary__description;
    margin-bottom: 5%;
}

.secondary__img {
    grid-area: secondary__img;
    display: flex;
    align-items: start;
    
}

.img__sinopsis {
    width: 40vw;
    padding: 20px;
    }


.secondary__txt {
    grid-area: secondary__txt;
}



@media only screen and (max-width:980px) and (min-width: 5px) {
    .secondary__container {
        display: grid;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "secondary__description secondary__description"
            "secondary__img secondary__img"
            "secondary__txt secondary__txt";
        width: 90vw;
        @include grilla (repeat(2, 1fr), repeat(3, auto))
    }

    .secondary__description {
        grid-area: secondary__description;
    }

    .secondary__img {
        grid-area: secondary__img;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img__sinopsis {
        width: 90vw;
        }

    .secondary__txt {
        grid-area: secondary__txt;
    }

}
